.text-box div p {
    color: red;
}
  .text-box h3:first-child  {
color: pink;
  }
  .text-box p:nth-last-child(2) {
    color: green;
  }
  .yellow {
    color: yellow;
  }
  #greycolor {
    color: grey;
  }
  article li:first-child {
    color: blue;
  }
  article li:last-child {
    color: red;
  }
  article li:nth-child(3) {
    color: chartreuse;
  }
  article li:nth-child(4) {
    color: cyan;
  }
  article li:nth-child(2) {
    color: brown;
  }
  .lessons:hover {
    background-color: gold;
  }
  .lessons:focus {
    color: black;
  }
  .lessons {
    font-size: 20px;
    font-weight: bold;
  }
  .lessons:focus {
    color: darkgreen;
  }
  