.text-box div p {
    color: red;
}
  .text-box h3:first-child  {
color: pink;
  }
  .text-box p:nth-last-child(2) {
    color: green;
  }
  .yellow {
    color: yellow;
  }
  #greycolor {
    color: grey;
  }
